.section {
    padding: 3vw;
    a {
        font-family: 'Mutabor';
        font-size: 2vw;
        position: relative;
        margin-bottom: 1vw;
        margin-top: 1vw;
        line-height: 4vw;
    }

    h1 {
        font-family: 'Mutabor';
        font-size: 2vw;
        position: relative;
        color: dimgrey;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }

    .zag {
        margin-top: 5vw;
        color: chartreuse;
    }

}